@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: raleway, sans-serif;
    font-size: 15px;
}

.wrapper{
    background-color: hsl(218, 28%, 13%);
    position: relative;
}

.intro-section{
    background-color: hsl(217, 28%, 15%);
    background-image: url(/images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 360px;
    /* margin-top: -100px; */
}

header{
    width: 100%;
}

.logo-1 img{
 width: 110px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 25px;
}

nav ul{
    color: hsl(0, 0%, 100%, .7);
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li{
    position: relative;
    cursor: pointer;
}

nav ul li::before{
    content: '';
    position: absolute;
    background-color: white;
    height: 1.5px;
    /* width: 100%; */
    bottom: 0;
}

nav ul li:hover{
    color: white;
    
}

nav ul li:hover:before{
    width: 100%;
    
}

.into-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-image{
    margin-top: 70px;
}

.intro-image img{
    width: 300px;
}

.intro-sub{
 margin-top: 50px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: hsl(218, 28%, 13%);
 /* padding: 0 1px; */
}

.intro-sub h1{
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 0 5px;
    line-height: 40px;
    font-size: 25px;
}

.intro-sub p{
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 0 30px;
    line-height: 25px;
}

.intro-sub button{
    padding: 15px 80px;
    border-radius: 30px;
    color: hsl(0, 0%, 100%);
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%))
}

.intro-sub button:hover{
   font-weight: 700;
    cursor: pointer;
}

.offer-container{
    padding-top: 100px;
}

.offer-1, .offer-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 80px;
}

.offer-2{
    margin-top: 80px;
}

.offers h2{
    color: hsl(0, 0%, 100%);
    margin-top: 45px;
    padding: 0 30px;
    font-size: 20px;
}

.offers p{
    color: hsl(0, 0%, 100%, .9);
    padding: 0 30px;
    line-height: 20px;
}

.stay-productive-container{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stay-productive-illustration img{
    width: 300px;
}

.stay-productive-text{
    text-align: left;
    padding: 0 30px;
}

.stay-productive-text h2{
    color: hsl(0, 0%, 100%);
    margin-top: 60px;
    font-size: 19px;
}

.stay-productive-text p{
    color: white;
    font-size: 14px;
    line-height: 20px;
}

.stay-productive-text span{
    display: block;
    margin-top: 20px;
}

.see{
    color: hsl(176, 68%, 64%);
    position: relative;
}

.see:hover{
    color: white;
}

.see img{
    width: 20px;
    margin-bottom: -5px;
    margin-left: 10px;
}



.see::before{
    content: '';
    position: absolute;
    background: hsl(176, 68%, 64%);
    width: 170px;
    height: 2px;
    bottom: -9px;
}

.see:hover:before{
    background-color: white;
}

/* .see hr{
    color: hsl(176, 68%, 64%);
    width: 350px;
} */

.testimonials{
    padding-top: 150px;
    padding-bottom: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 35px;
}

.testimonials .card {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: hsl(219, 30%, 18%);
    padding: 25px 15px;
    border-radius: 5px;
}

.card p{
    color: hsl(0, 0%, 100%, .9);
    line-height: 20px;
    font-size: 12px;
}

.profile{
    display: flex;
    margin-top: 10px;
}

.profile img{
 border-radius: 50%;
 width: 30px;
}

.profile-info{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

strong, small{
    color: hsl(0, 0%, 100%);
}

.get-access{
    position: absolute;
    bottom: 850px;
    background-color: hsl(217, 28%, 15%);
    text-align: center;
    margin: 0 20px;
    padding: 30px 25px;
}

.get-access h2{
    color: hsl(0, 0%, 100%);
    font-size: 13;
}

.get-access p{
    color: hsl(0, 0%, 100%, .9);
    /* text-align: center; */
    font-size: 14px;
    line-height: 20px;
}

.email{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.email input{
    padding: 15px 55px;
    font-size: 11px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.email input::placeholder{
    opacity: .5;
}

.email button{
    padding: 15px 55px;
    color: white;
    border-radius: 22px;
    border: none;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%))
}

footer{
    background-color: hsl(216, 53%, 9%);
    padding-top: 250px;
    padding-left: 40px;
}

.footer-info{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.location{
    margin-top: 50px;
    display: flex;
}

.location-icon{
    margin-top: 15px;
    margin-right: 20px;
}

.location p{
    color: hsl(0, 0%, 100%, .8);
    padding-right: 40px;
}

.telephone{
    margin-top: 30px;
    display: flex;
}

.telephone-icon{
    margin-top: 15px;
    margin-right: 20px;
}

.telephone p{
    color: hsl(0, 0%, 100%, .8);
}

.gmail{
    display: flex;
}

.gmail-icon{
    margin-top: 15px;
    margin-right: 20px;
}

.gmail p{
    color: hsl(0, 0%, 100%, .8);
}

.about-us{
    margin-top: 60px;
}

.about-us, .contact-us{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 15px;
    list-style: none;
    color: hsl(0, 0%, 100%, .8);
}

.contact-us{
    margin-top: 30px;
}

.socials{
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 15px;
    margin-top: 60px;
}

.socials span{
    color: hsl(0, 0%, 100%, .8);
    padding: 10px;
    border: 2px solid hsl(0, 0%, 100%, .8);
    border-radius: 50%;
}

/* DESKTOP VIEW */
@media screen and (min-width: 1440px){
    .logo-1 img{
        width: 180px;
    }

    nav{
        padding: 60px 75px;
    }

    nav ul{
        gap: 45px;
    }

    .intro-section{
        background-color: hsl(217, 28%, 15%);
        background-image: url(/images/bg-curvy-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 760px;
    }

    .intro-image img{
        width: 700px;
    }

    .intro-sub{
        background: transparent;
    }

    .intro-sub h1{
        font-size: 40px;
        width: 55rem;
        line-height: 50px;
    }

    .intro-sub p{
        width: 430px;
    }

    .offer-1, .offer-2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }

    .offers p{
        width: 400px;
        line-height: 25px;
    }

    .stay-productive-container{
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .stay-productive-illustration img{
        width: 500px;
    }

    .stay-productive-text h2{
        font-size: 30px;
        width: 300px;
    }

    .stay-productive-text p{
        width: 530px;
        font-size: 15px;
    }

    .testimonials{
        padding-top: 150px;
        padding-bottom: 330px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 0 35px;
    }

    .testimonials .card {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        background-color: hsl(219, 30%, 18%);
        padding: 25px 25px;
        border-radius: 5px;
        width: 290px;
    }

    .card p{
        line-height: 23px;
        font-size: 15px;
    }

    .get-access{
        position: absolute;
        bottom: 400px;
        left: 250px;
        background-color: hsl(217, 28%, 15%);
        text-align: center;
        margin: 0 20px;
        padding: 30px 60px;
    }
    
    .get-access h2{
        color: hsl(0, 0%, 100%);
        font-size: 28px;
    }

    .get-access p{
        font-size: 14px;
        line-height: 20px;
        width: 670px;
    }

    .email{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .email input{
        padding: 17px 55px;
        width: 360px;
        font-size: 11px;
        border: none;
        border-radius: 20px;
    }

    footer{
        background-color: hsl(216, 53%, 9%);
        padding-top: 250px;
        padding-left: 70px;
        padding-right: 60px;
    }

    .footer-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        gap: 100px;
    }

    .location{
        margin-top: 50px;
        display: flex;
    }
    
    .location p{
        color: hsl(0, 0%, 100%, .8);
        padding-right: 40px;
        width: 300px;
        line-height: 25px;
    }
    
    .location-icon{
        margin-top: 20px;
        margin-right: 20px;
    }

    .contact{
        margin-top: 20px;
    }

    .about-us, .contact-us{
        margin-top: 100px;
    }

    .contact-us{
        margin-top: 70px;

    }
    
    .socials{
        margin-top: 10px;
    }
}